<body class="content fadeIn">
    <div class="content-header fadeInLeft">
        <img src="../../../../assets/images/digimon-logo.jpeg" alt="">
    </div>
    <div class="content-body">
        <div class="search">
            <div class="search-name">
                <input type="text" id="search" #input (keyup)="searchDigimonName(input.value)"
                    placeholder="Busque um digimon...">
                <span class="material-symbols-outlined">
                    search
                </span>
            </div>
            <div class="search-level">
                <select id="digimonLevel" (change)="searchDigimonLevel()" required>
                    <br>
                    <option value="All">Level</option>
                    <option value="rookie">Rookie</option>
                    <option value="inTraining">In Training</option>
                    <option value="Fresh">Fresh</option>
                    <option value="champion">Champion</option>
                    <option value="Ultimate">Ultimate</option>
                    <option value="Mega">Mega</option>
                    <option value="Armor">Armor</option>
                </select>
                <span class="material-symbols-outlined">
                    arrow_drop_down
                    </span>
            </div>
        </div>
        <div class="list-digimons" *ngIf="!apiError">
            <div class="list" *ngFor="let digimon of getDigimonList">
                <div class="info tada" [routerLink]="['details',digimon.name]">
                    <h1 class="digimon-name">
                        {{digimon.name}}
                    </h1>
                    <h2 class="digimon-level">
                        {{digimon.level}}
                    </h2>
                    <div class="digimon-img">
                        <img [src]="digimon.img">
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="erro" *ngIf="apiError">
            <h1>Seus digimons não encontraram o caminho para o D.M.A...</h1>
            <img class="imgError" src="../../../../assets/images/erro.png" alt="Deu erro na para achar o digimon" width="100%" >
        </div>
    </div>
</body>